.root {
  &[data-variant="filled"] {
    background-color: var(--mantine-color-primary-6);

    path {
      stroke: var(--mantine-color-white);
    }

    p {
      color: var(--mantine-color-white) !important;
    }

    &:hover {
      background-color: var(--mantine-color-primary-7);
    }

    &:disabled {
      background-color: var(--mantine-color-primary-1);
      cursor: default;

      path {
        stroke: var(--mantine-color-primary-6);
        opacity: 0.3;
      }

      p {
        color: var(--mantine-color-primary-6) !important;
        opacity: 0.3;
      }
    }
  }

  &[data-variant="light"] {
    background-color: light-dark(var(--mantine-color-primary-1), var(--mantine-color-primary-6));

    &:hover {
      background-color: light-dark(var(--mantine-color-primary-2), var(--mantine-color-primary-7));
    }

    &:disabled {
      background-color: var(--mantine-color-primary-1);
      cursor: default;

      path {
        stroke: black;
        opacity: 0.3;
      }

      p {
        color: black !important;
        opacity: 0.3;
      }
    }
  }

  &[data-variant="outline"] {
    border-color: var(--mantine-color-primary-6);
    color: var(--mantine-color-primary-6);

    &:hover {
      border-color: var(--mantine-color-primary-6);

      path {
        stroke: var(--mantine-color-primary-6);
      }

      p {
        color: var(--mantine-color-primary-6) !important;
      }
    }

    &:disabled {
      border-color: var(--mantine-color-primary-6);
      background-color: var(--mantine-white);
      opacity: 0.32;
      cursor: default;

      path {
        stroke: var(--mantine-color-primary-6);
      }

      p {
        color: var(--mantine-color-primary-6) !important;
      }
    }
  }

  &[data-variant="subtle"] {
    color: var(--mantine-color-primary-6);
    &:hover {
      /* background-color: light-dark(var(--mantine-color-primary-0), var(--mantine-white)); */
    }

    &:disabled {
      background-color: var(--mantine-white);
      opacity: 0.32;
      cursor: default;

      path {
        stroke: var(--mantine-color-primary-6);
      }

      p {
        color: var(--mantine-color-primary-6) !important;
      }
    }
  }
}
